body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: white; /* Adiciona um fundo mais claro */
}

header {
    background-color: #cc5355;
    padding: 10px;
    text-align: center;
    color: white;
}